Package: ioncube-loader
Version: 4.6.1-1
Architecture: amd64
Maintainer: Engine Yard Packaging <packaging@engineyard.com>
Pre-Depends: php5 | php5-cli | php5-cgi
Depends: libc6 (>= 2.3)
Section: web
Priority: optional
Description: ionCube Loader for PHP
