Source: php-ioncube-loader
Section: web
Priority: optional
Maintainer: Engine Yard Packaging <packaging@engineyard.com>
Standards-Version: 3.9.5
Build-Depends: debhelper, php5-dev

Package: php5-ioncube-loader
Architecture: amd64
Depends: ${shlibs:Depends}, ${php:Depends}, ${misc:Depends}
Description: ionCube Loader for PHP
 .
 ionCube Loader handles the reading and execution of encoded files at run time.
